<!DOCTYPE html>

<html>

    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Some important links for styling our page...copy from W3schools-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <!-- Title for this page-->

        <title>About | Library Management System</title>
        
        <style>

            body 
            {
                position: relative; 
            }

            #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
            #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
            #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
            #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
            #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
            
    </style>

    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="50">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            
            <div class="container-fluid">

                <div class="navbar-header">
                    
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    
                    </button>

                    <a class="navbar-brand" href="/">Aseem's Library</a>
                
                </div>

                <div>
                    
                    <div class="collapse navbar-collapse" id="myNavbar">
                        
                        <ul class="nav navbar-nav">
                            
                            <li><a href="#section1">Description</a></li>
                            <li><a href="#section2">Profile</a></li>
                            <li><a href="#section3">Connect</a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
                            
                                <ul class="dropdown-menu">
                                
                                    <li><a href="#section41">Section 4-1</a></li>
                                    <li><a href="#section42">Section 4-2</a></li>
                            
                                </ul>
                            
                            </li>
                        </ul>
                    
                    </div>
                
                </div>
            
            </div>
        
        </nav>    

        <div id="section1" class="container-fluid">
        
            <h1>Library Management System</h1><br>
            
            <p>“Library Management System” for monitoring & updating the activities happened in the Library. This project 
                “Library Management System” is developed in Python-Django & we use PostgreSQL for storing the our databases. 
                This project mainly focuses on the basic activities in the Library like adding new books, updating information’s 
                regrading issuing or submission of books, searching books or students.</p>

            <p>Using HTML, CSS, and JavaScript, we will design a GUI for library management system where Students can logged-in 
                to access its features.</p>

            <p>Throughout this project we are focusing on the presenting information in an easy and efficient manner.</p>    
        
        </div>
        
        <div id="section2" class="container-fluid">
        
            <h1>Creator</h1><br>

            <p>Hello, My name is Aseem Ranjan Creator of this Project. I am from Faizabad Uttar Pradesh, I am doing Computer
                Science Engineering from IIIT Nagpur. I secured 10 cgpa in 10th standard, 77.4 percentage in 12th standard and 
                currently in engineering my aggregate score is 9.2 cgpa. Computer-Science is omnipresent i.e, it is presnt in 
                everyfield and hence I have invested these last 2 almost years in developing my software skills.</p>

            <p>I consider myself as a very focused person & I always work towards to goals in very efficient manner, I am a 
                team player and very optimistic in tough times.</p>
        
        </div>
        
        <div id="section3" class="container-fluid">
            
            <h1>Connect with Us</h1><br>

            <p> >> <a href="https://www.linkedin.com/in/aseem-ranjan-9b487b194">LinkedIn Handle</a></p>
            <p> >> <a href="https://www.facebook.com/aseem.saxena.946">Facebook Handle</a></p>
            <p> >> <a href="https://www.instagram.com/_aseem.ranjan_">Instagram Handle</a></p>

        </div>
        
        <div id="section41" class="container-fluid">
        
            <h1>Section 4 Submenu 1</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        
        </div>
        
        <div id="section42" class="container-fluid">
            
            <h1>Section 4 Submenu 2</h1>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        
        </div>

    </body>

</html>
